
svg {
  display: block;
  height: 914px;
  left: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: static;
  top: auto;
  width: 1488px;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 10ch;
  min-height: 10ch; 
  width: 30vw;
  height: 30vw;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(https://image.flaticon.com/icons/svg/149/149977.svg);
}

.card2 {
  margin-top: 600px;
  margin-left: 300px;
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/620/620851.svg);
}

.card3 {
  margin-top: 200px;
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
}

.card4 {
  margin-top: 400px;
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789392.svg);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 250px;
}

.title {
  font-size: 10rem;
  margin: unset;
  position: fixed;
  top: 0;
  font-family: 'Underdog', cursive;
}

html {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: powderblue;
}



